<div class="navbar navbar-expand-sm navbar-light navbar-lewagon ">
  <div class="container-fluid">
  <% if user_signed_in? %>
      <%= link_to projects_path, class: "navbar-brand" do %>
        <h4>ma<i class="fa-solid fa-maximize"></i>capacity</h4>
      <% end %>
    <% else %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <h4>ma<i class="fa-solid fa-maximize"></i>capacity</h4>
      <li style="list-style-type: none;"><%= link_to "About Us", about_us_path, style: "color: white; text-decoration: none;" %></li>
      <li style="list-style-type: none;"><%= link_to "Demo", demo_path, style: "color: white; text-decoration: none;" %></li>
      <li style="list-style-type: none;" ><%= link_to "Pricing", pricing_path, style: "color: white; text-decoration: none;" %></li>
      <li style="list-style-type: none;"><%= link_to "Contact Us",contact_us_path, style: "color: white; text-decoration: none;" %></li>
    <% end %>
    <% end %>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto ">
        <% if user_signed_in? %>
          <li class="nav-item nav-dropdown", id="dropdown-menu">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            <i class="fa-regular fa-circle-user", class="avatar", alt="dropdown menu"></i>
            <i class="fa-solid fa-bars", class="avatar", alt="dropdown menu"></i>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "All Projects", projects_path, class: "dropdown-item", style: "color:#374259;" %>
              <%= link_to "Add New Project", new_project_path, class: "dropdown-item", style: "color:#374259;" %>
              <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item", style: "color:#374259;" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item", style: "color:#374259;" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
          </li>
           <%= link_to "Login", "#", class: "nav-link", style: "color: white; font-size: 20px;", "data-bs-toggle" => "modal", "data-bs-target" => "#loginModal" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link sign-up-button", style: "color: white; font-size: 20px;" %>
          </li>
        <% end %>
      </ul>
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">Log In</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= form_for(current_user, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="mb-3">
                <%= f.label :email %>
                <%= f.email_field :email, class: "form-control" %>
                </div>
                <div class="mb-3">
                  <%= f.label :password %>
                  <%= f.password_field :password, class: "form-control" %>
                  </div>
                  <div class="mb-3">
                    <%= f.submit "Log In", class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
              <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
