<div class="row m-2" style="padding-bottom:100px;">
    <% @projects.each do |project| %>
      <div class="humor-card col-12 col-sm-3 mb-4 rounded" data-aos="zoom-in">

        <%= link_to project_path(project) do %>
          <div class="bg-white rounded shadow h-100">
            <div class="p-2 rounded-bottom row justify-content-between">
              <strong></span><%= link_to project.name, project_path(project), class: 'text-decoration-none text-reset' %> <span class="text-muted font-weight-normal">• <i class="fa-solid fa-sterling-sign"></i><%= project.price %></strong>
              <div class="col"><em><small class="text-muted"><%= project.deadline %></small></em></div>
              <div class="col"><em><small class="text-muted"><%= project.priority %></small></em></div>
              <div class="col text-end">
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
