<div class="users-container" data-controller="asana">
    <div class="form-new my-4 p-4">
      <h3 class=""><%= "Edit Tools for Project #{@project.name}" %></h3>
      <br>
      <%= simple_form_for(@project, data: {action: "submit->asana#fetchasana"}) do |f| %>
        <%= f.input :asana_token, input_html: { data: {asana_target: 'input'} } %>
        <%= f.input :jira_token, class: 'priority-select' %>
        <%= f.input :trello_token %>
        <%= f.input :slack_token %>
        <div class="py-4"><%= f.submit "Update", class: 'btn button-save' %></div>
        <%= link_to "Delete project", project_path(@project), class: 'btn button-delete',
        data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this project?" } %>
      <% end %>

    </div>
</div>
