
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
    <div class="container-fluid mx-4">
      <%= link_to root_path, class: "navbar-brand" do %>
        <h3>ma<font-awesome-icon :icon="['fas', 'maximize']" />capacity</h3>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= link_to root_path, class: "nav-link"  do %>
            <font-awesome-icon :icon="['fas', 'bars']" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "All Projects", projects_path, class: "dropdown-item" %>
              <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
        <% end %>
          </li>
          <li class="nav-item">

          </li>
          <li class="nav-item dropdown">
            <% if @user.avatar.attached? %>
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://res.cloudinary.com/dlvw6xclf/image/upload/v1693408243/development/<%= @user.avatar.key %>.png" />
            <% else %>
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://static.wikia.nocookie.net/mrbean/images/4/4b/Mr_beans_holiday_ver2.jpg" />
            <% end %>

          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      </div>
    </div>
  </div>
