<!DOCTYPE html>
<html>
  <head>
    <title>MaxCapacity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Include Bootstrap CSS from a CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>
<%= render 'layouts/navbar' %>
<nav>
      <% if user_signed_in? %>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Log In', new_user_session_path %>
      <% end %>
    </nav>
  <div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>
    </div>
    <!-- Include Bootstrap JavaScript from a CDN (optional) -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </body>
</html>
