<div style="width:800px; margin: 0 auto;">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8">
      <h1 class="mt-5" style="color:white;">Edit <%= @member.name %>'s Profile</h1>
      <br>
    </div>
    <div class="col-4">
      <div class="form-new my-4 p-4">
        <%= simple_form_for @member, html: {data: {controller: "photo-preview"}} do |f|%>
          <% if @member.photo.attached? %>
            <img class="member-avatar" src="<%= cl_image_path(@member.photo.key) %>" alt="Member Avatar", data: (photo_preview_target: "preview") >
          <% else %>
            <%= image_tag "Avatar.jpg", class:"member-avatar" %>
          <% end %>
          <%= f.input :photo, as: :file, input_html: { class: 'd-none', data: { photo_preview_target: "input", action:"change->photo-preview#displayPreview" }}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo'%>
      </div>
    </div>
    <div class="col-8">
      <%= f.input :name %>
      <%= f.input :title, label: "Role" %>
      <%= f.input :email %>
      <%= f.input :line_manager %>
      <%= f.input :capacity, label: "Team member capacity (hours)" %>
      <div class="select-member">
        <%= f.input :project_ids, label: "Member of project" , as: :check_boxes, collection: Project.all, include_blank: false, include_hidden: false, input_html: { multiple: true, class: "team-member-select" }, item_wrapper_class: 'member-item'%>
      </div>
      <%= link_to "Delete #{@member.name} from MaxCapacity", member_path(@member), class: "btn button-delete mtb-5",
        data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this member?"} %>
      <div class="button-right-corner">
        <%= f.submit 'Save', class: 'btn button-save'%>
      </div>
    <% end %>
    </div>
  </div>
</div>
