<<<<<<< HEAD
<div style="background: white">
  <div class="container new_member_page">
    <div class="row new-member-form">
      <div class="form-header">
        <h1 class="sub-heading mt-5">New Team Member</h1>
      </div>
        <%= simple_form_for @member do |f|%>
        <div class="row">
          <div class="col-9">
            <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
      <div class="justify-content-center">
            <h2 class="form-heading text-left">Name</h2>
              <%= f.input :name, label_html: {class: 'member_input'}, label: false %>
            <h2 class="form-heading">Role</h2>
              <%= f.input :title, label_html: {class: 'member_input'}, label: false %>
        </div>
          <h2 class="form-heading">Email</h2>
          <%= f.input :email, label_html: {class: 'member_input'}, label: false %>
          <h2 class="form-heading">Line Manager</h2>
          <%= f.input :line_manager, label_html: {class: 'member_input'}, label: false %>
            <h2 class="form-heading">Team Member Capacity (hours)</h2>
          <%= f.input :capacity, label_html: {class: 'member_input'}, label: false %>
        <div class="select-member">
          <%= f.input :project_ids, label: false , as: :check_boxes, collection: Project.all, include_blank: false, include_hidden: false, input_html: { multiple: true, class: "team-member-select" }, item_wrapper_class: 'member-item'%>
=======
<div class="users-container new_member_page mt-5">
  <div class="row new-member-form">
    <div class="form-header">
      <h2 class="sub-heading">New Team Member</h2>
    </div>
    <div class="justify-content-center">
      <%= simple_form_for @member do |f|%>
      <div class="col-3">
        <%= f.input :photo, as: :file, label: false%>
        <p class="description p-2 text-center">Add Photo</p>
      </div>
      <div class="col-7">
          <h2 class="form-heading text-left">Name</h2>
        <%= f.input :name, label_html: {class: 'member_input'}, label: false %>
        <h2 class="form-heading">Role</h2>
        <%= f.input :title, label_html: {class: 'member_input'}, label: false %>
        <h2 class="form-heading">Email</h2>
        <%= f.input :email, label_html: {class: 'member_input'}, label: false %>
        <h2 class="form-heading">Line Manager</h2>
        <%= f.input :line_manager, label_html: {class: 'member_input'}, label: false %>
          <h2 class="form-heading">Team Member Capacity (hours)</h2>
        <%= f.input :capacity, label_html: {class: 'member_input'}, label: false %>
        <div class="select-project">
          <h2 class="form-heading ">Select Projects</h2>
          <%= f.input :project_ids, as: :check_boxes, collection: Project.all, input_html: {multiple: true}, include_blank: false, label: false  %>
        </div>
        <div class="button-left-corner">
          <%= f.submit 'Save', class: 'button-save'%>
>>>>>>> master
        </div>
        </div>
          <div class="button-right-corner">
            <%= f.submit 'Save', class: 'btn button-save'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
